:root {
    --dark-blue: #1F2937;
    --blue: #3882F6;
    --white-1: #F9FAF8;
    --white-2: #E5E7EB;    
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}