:root {
    --dark-blue: #1F2937;
    --blue: #3882F6;
    --white-1: #F9FAF8;
    --white-2: #E5E7EB;    
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--dark-blue);
    color: var(--white-1);

    padding: 0.5rem 3rem;
}

.header-logo {
    font-size: larger;
    font-weight: 600;
}

nav {
    display: flex;
    gap: 1rem;
}

nav > a {
    color: #f9faf8a8;
}

/* HERO */

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;

    padding: 5rem 1rem;

    background-color: var(--dark-blue);
}

.hero-text > h1 {
    color: var(--white-1);
    font-size: 48px;
    font-weight: bolder;
}

.hero-text > p {
    color: var(--white-2);
    font-size: 18px;
}

.hero-image {
    width: 420px;
}